# `Featurization`-Cabin-NumCabins

I will extract the number of cabins a person is assigned as a feature

In [1]:
from src.utils import load_data
import pandas as pd
import numpy as np
dfX, dfy = load_data(return_X_y=True)

##

In [9]:
cabin = dfX.Cabin
cabin.value_counts()

C23 C25 C27    4
G6             4
B96 B98        4
C22 C26        3
D              3
              ..
D15            1
D11            1
C47            1
D47            1
C32            1
Name: Cabin, Length: 147, dtype: int64

In [10]:
import re

In [21]:
cabin = cabin.fillna('NC') # No Cabin
cabin

0        NC
1       C85
2        NC
3      C123
4        NC
       ...
886      NC
887     B42
888      NC
889    C148
890      NC
Name: Cabin, Length: 891, dtype: object

In [26]:
num_cabin = cabin.apply(lambda x: len(re.findall(r'[A-Z]\d', x)))
num_cabin.value_counts()

0    691
1    180
2     12
3      6
4      2
Name: Cabin, dtype: int64

In [33]:
def _get_num_cabin(x):
    return len(re.findall(r'[A-Z]\d', x))

def get_num_cabin(cabin):
    cabin = cabin.fillna('NC')
    return pd.DataFrame(cabin.apply(_get_num_cabin))

In [34]:
from sklearn.preprocessing import FunctionTransformer
numCabin = FunctionTransformer(get_num_cabin)

In [35]:
numCabin.fit_transform(cabin)

     Cabin
0        0
1        1
2        0
3        1
4        0
..     ...
886      0
887      1
888      0
889      1
890      0

[891 rows x 1 columns]