# Testing out sklearn-pandas

In [26]:
import sys
sys.path.append("../")
from titansurv.pipeline import pipeline1 as dp
from sklearn.preprocessing import StandardScaler, LabelBinarizer, OneHotEncoder
from sklearn_pandas import DataFrameMapper
import pandas as pd

## Make a dataframe

In [25]:
data = pd.DataFrame({'pet':['cat', 'dog', 'dog', 'fish', 
                            'cat', 'dog', 'cat', 'fish'],
                     'children': [4., 6, 3, 3, 2, 3, 5, 4],
                      'salary':   [90., 24, 44, 27, 32, 59, 36, 27]})

## Make a mapper, works like ColumnTransformer

But the input transformers are generated in a bit different way

In [30]:
 mapper_df = DataFrameMapper([
     ('pet', LabelBinarizer()),
     (['children'],StandardScaler())], 
     df_out=True)

In [31]:
?DataFrameMapper

We can specify the output as df and also the input as df so that we can tailor our transformers according to the input

## Let's see the params

In [32]:
mapper_df.get_params()

{'default': False,
 'df_out': True,
 'features': [('pet',
   LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),
  (['children'], StandardScaler(copy=True, with_mean=True, with_std=True))],
 'input_df': False,
 'sparse': False}

In [33]:
data.head()

    pet  children  salary
0   cat       4.0    90.0
1   dog       6.0    24.0
2   dog       3.0    44.0
3  fish       3.0    27.0
4   cat       2.0    32.0

In [34]:
mapper_df.fit_transform(data)

   pet_cat  pet_dog  pet_fish  children
0        1        0         0  0.208514
1        0        1         0  1.876630
2        0        1         0 -0.625543
3        0        0         1 -0.625543
4        1        0         0 -1.459601
5        0        1         0 -0.625543
6        1        0         0  1.042572
7        0        0         1  0.208514